*.pyc
.tox/
dist/
fig_venv/
itest/__pycache__
nerve-tools*.changes
nerve-tools*.dsc
nerve-tools*.tar.gz
src/build
src/debian/files
src/debian/nerve-tools
src/debian/nerve-tools.debhelper.log
src/debian/nerve-tools.substvars
src/nerve_tools.egg-info
