*.pyc
*.so
*.sw[nop]
.tox/
dist/
fig_venv/
itest/__pycache__
.cache/
.coverage
.mypy_cache/
.pytest_cache
.vscode
build
debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/nerve-tools
debian/nerve-tools.debhelper.log
debian/nerve-tools.postinst.debhelper
debian/nerve-tools.substvars
dockerfiles/bionic/location_mapping.json
dockerfiles/bionic/location_types.json
dockerfiles/itest/itest_bionic/
dockerfiles/itest/itest_jammy/
dockerfiles/jammy/location_mapping.json
dockerfiles/jammy/location_types.json
nerve-tools*.buildinfo
nerve-tools*.changes
nerve-tools*.ddeb
nerve-tools*.dsc
nerve-tools*.tar.gz
nerve.log
nerve_tools.egg-info
tests/__pycache__
.eggs
