#!/usr/bin/make -f
# -*- makefile -*-

PIP_INDEX_URL ?= https://pypi.yelpcorp.com/simple
export DH_VIRTUALENV_INSTALL_ROOT=/opt/venvs

export DH_OPTIONS

%:
	dh $@ --with python-virtualenv

# do not call `make clean` as part of packaging
override_dh_auto_clean:
	true

override_dh_auto_build:
	true

# do not call `make test` as part of packaging
override_dh_auto_test:
	true

# Add --verbose right after dh_virtualenv if the build fails and doesn't leave a useful stacktrace. Unfortunately, 
# TravisCI can't handle the large logs that verbose output creates and it will just terminate the build :(
override_dh_virtualenv:
	dh_virtualenv -i $(PIP_INDEX_URL) \
	--python=/usr/bin/python3.7 \
	--preinstall no-manylinux1
