#!/usr/bin/make -f
# -*- makefile -*-

export DH_VIRTUALENV_INSTALL_ROOT=/opt/venvs

export DH_OPTIONS

LSBDISTRELEASE := $(shell lsb_release -sr)

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --python=/usr/bin/python2.7 --extra-pip-arg='--no-binary' --extra-pip-arg=':all:'
