Source: nerve-tools
Section: admin
Priority: optional
Maintainer: John Billings <billings@yelp.com>
Build-Depends:
    dh-virtualenv,

Package: nerve-tools
Section: admin
Priority: optional
Architecture: any
Depends: python3.12, paasta-tools (>= 1.47.0~), ${shlibs:Depends}
Description: Nerve-related tools for use on Yelp machines.
